<header>
    <ul id="dropdown1" class="dropdown-content">
        <li><a href="/eventos" >Lista de evento</a></li>
        <li><a href="/cadastrarEvento" >Cadastrar Eventos</a></li>
    </ul>
    <nav>
        <div class="nav-wrapper">
            <a href="#" class="brand-logo">Lista de Eventos</a>

            <ul class="right hide-on-med-and-down">
                <li>
                    <a class="dropdown-trigger" href="#!" data-target="dropdown1">Eventos
                        <i class="material-icons right">arrow_drop_down</i>
                    </a>
                    <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">more_vert</i></a>
                </li>
            </ul>
        </div>
    </nav>
    <ul id="slide-out" class="sidenav">
        <li><a class="waves-effect" href="/eventos" >Lista de evento</a></li>
        <li><a class="waves-effect" href="/cadastrarEvento" >Cadastrar Eventos</a></li>
    </ul>
</header>